{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>ForDis</title>
    <meta charset="utf-8">

    <!-- The following line tell browser that the page is mobile friendly -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- Materialize css and materialize icons -->
    <link rel="stylesheet" href="{% static 'class/materialize.min.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'class/iconFamilyMaterialIcons.css' %}" type="text/css" >

    <!-- Rich text editor css files -->
    <link rel="stylesheet" href="{% static 'class/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'class/codemirror.min.css' %}" type="text/css" >
    <link rel="stylesheet" href="{% static 'class/froala_editor.pkgd.min.css' %}"  type="text/css" />
    <link rel="stylesheet" href="{% static 'class/froala_style.min.css' %}" type="text/css" />

    <!-- Date-time picker css -->
    <link rel="stylesheet" href="{% static 'class/material-datetime-picker.css' %}">

    <!-- Custom css file -->
    <link rel="stylesheet" href="{% static 'class/classhome.css' %}" type="text/css"/>

   
    <style type="text/css">
        .c-datepicker{z-index: 99 !important};
    </style>

    <style type="text/css">
        .wrap{
            word-wrap: break-word;
            white-space: wrap;
        }
    </style>

    <!-- Jquery Library-->
    <script type="text/javascript" src="{% static 'class/jquery.min.js' %}"></script>

    <!-- Script for showing 100 characters at maximum for description of a post in sidebar -->
    <script type="text/javascript">
        $(document).ready(function(){
            var showChar = 100;
            var ellipsestext = "...";
            $('.item').each(function() {
                
                var content = $(this).html();
                if(content.length > showChar) {
                    // console.log($(this).html());
                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar, content.length - showChar);

                    var html = c ;
                    
                    html=html+ ellipsestext;

                    $(this).html(html);
                }
            });
        });
    </script>

</head>

<body>

    {{error}}

    <!-- Navigation bar -->
   <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/class" class="brand-logo">For'Dis</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/class">My Classes</a></li>
                <li><a href="/class/logout">Logout</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="/class">My Classes</a></li>
                <li><a href="/class/logout">Logout</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <!-- Side bar -->
    <div  id="sidebar">

        <p>
            for reference
        {% for i in all_tags %}
            {{i}} = 
        {% endfor %}
        </p>


        <!-- New post button -->
        <button id=newpost onclick="newpost_page()"><span style="font-size: 14px;display: inline-block;">New Post</span></button>

        <!-- Search bar -->
        <input id="search-box"  placeholder="Search..."  name="search"/>
        <a href="#"><i id="search-icon" class="small material-icons">search</i></a>


 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s5"><a href="#poll_section">Polls</a></li>
        <li class="tab col s5"><a href="#post_section">Posts</a></li>
      </ul>
    </div>
    <div id="poll_section" class="col s12">



        <ul class="collection" style="margin-top: 0px;">

            {% for i in poll %}

            <li class="collection-item post {% if not i.seen %}unread-post{% endif %}" onclick="changeurl({{i.post.id}})" data-postid={{i.post.id}}>
                <b>{{i.poll.title}}</b><br>
                
<!-- 
                { % for j in {{i.tags}} % }
                    
                    {{j.name}}

                { % endfor %}  -->

                <div class="wrap item">{{i.poll.content}}</div>
            </li>
            {% endfor %}
        </ul>




    </div>
    
    <div id="post_section" class="col s12">



        <!-- List of posts -->
        <ul class="collection" style="margin-top: 0px;">
           <!--   <li class="collection-item post unread-post active-post" onclick="changeurl({{i.post.id}})" style=>
                <b >My Questiom</b><br>
                <div class="wrap item">Content content content content</div>

            </li>

            <li class="collection-item post active-post" onclick="changeurl({{i.post.id}})" style="background: #f5e4bd">
                <b style="">My Questiom</b><br>
                <div class="wrap item" style="">Content content content content</div>

            </li> -->
            {% for i in posts %}
            <li class="collection-item post {% if not i.seen %}unread-post{% endif %}" onclick="changeurl({{i.post.id}})" data-postid={{i.post.id}}>
                <b>{{i.post.title}}</b><br>
                
<!-- 
                { % for j in {{i.tags}} % }
                    
                    {{j.name}}

                { % endfor %}  -->

                <div class="wrap item">{{i.post.content}}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
  

  </div>

</div>

    <!-- Content -->
    <div id="content" style="padding-bottom: 50px;">

        <!-- Block for showing a question/post (Initially display none) -->
        <div id="existing-question" style="display: none;">

            <!-- Question/post -->
            <div class="row">
                <div class="col s10">
                    <h3 id="question-title"></h3>
                </div>
                <div class="col s5" id = "tags">
                    
                </div>
                
                <div class="col s2">
                    <h3 id="question-views" class="chip"><h3>
                </div>
            </div>
            <div id="question-content" class="wrap"></div>

            <!-- Comments for the Post -->
            <h5>Comments</h5>
            <!-- Comments will be loaded into this div element -->
            <div id="comments"></div>

            <!-- Text editor to post a new comment -->
            <h5>Join the discusion</h5>
            <textarea id="froala-editor-comment" name="des"></textarea>

            <!-- Post comment button -->
            <button id="post-comment" data-content-postid="" type="button" style="float: right;margin: 10px;" class="btn waves-effect waves-light" >Comment<i class="material-icons right">send</i></button>

        </div>
        <!-- Block for showing a question/post ends -->

        <!-- div to post a new post (display is initially none)-->
        <div id="new-question" style="display: none;">
            <h5>Post a question



            </h5>
            <!-- This form is being submitted by Jquery -->
            <form id="new-question-form">

                <!-- Title of the post-->
                <h6>Summary:</h6>
                <input type="text" id="post-title" name="title" style="padding-left: 10px; border:1px solid #000000" />



                  <div class="input-field col s5">
                    <select multiple id="tags_select" name = "tags_select">
                      <option value="" disabled selected>Choose Tags</option>
                      
                      <!-- <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                 -->

        {% for i in all_tags %}
             
          <option value="{{i}}">{{i}}</option>
                    
        {% endfor %}

                    </select>
                    <label>Topic Tag</label>
                  </div>

                <!-- Content of the post-->
                <h6>Details:</h6>
                <textarea id="froala-editor-newquestion" name="des"></textarea>

                <div class="row" style="padding-top: 10px;">
                    <div class="input-field col s3">
                        <select>
                        <option value="1" selected="">Bhavan Turaka</option>
                            <option value="anonymous">Anonymous</option>
                        </select>
                        <label>Post as: </label>
                    </div>
                    <div class="col s3">
                         <label>Date: </label>
                        <input type="text" class="datepicker">
                    </div>
                    <div class="col s3">
                        <label>Time: </label>
                        <input type="text" class="timepicker">
                    </div>


                <div class="center-align vertical-align" style="margin: 10px;">
                    <!-- <a class="c-datepicker-btn">
                        <span class="material-icon">Open date picker</span>
                    </a>
                    <pre id="output"></pre> -->

                   <!-- Button to post the question -->
                    <button id="post-question" type="button" class="btn waves-effect waves-light">Post My question Now<i class="material-icons right">send</i></button>

                    <!-- Button to post the question as a draft -->
                    <button id="post-draft" type="button" class="btn waves-effect waves-light">Save as Draft<i class="material-icons right">drafts</i></button>

                     <!-- Button to schedule a post -->
                    <button type="button" class="btn waves-effect waves-light">Schedule my Post<i class="material-icons right">schedule</i></button>
                </div>
            </form>
        </div>
        <!-- div to post a new post ends -->

    </div>
    <!-- Content ends -->

<!-- Materialize JS -->
<script src="{% static 'class/materialize.min.js' %}"></script>

<!-- Rich text editor JS -->
<script type="text/javascript" src="{% static 'class/codemirror.min.js' %}"></script>
<script type="text/javascript" src="{% static 'class/xml.min.js' %}"></script>
<script type="text/javascript" src="{% static 'class/froala_editor.pkgd.min.js' %}"></script>

<!-- Date-time picker JS -->
<script src="{% static 'class/rome.js' %}"></script>
<script src="{% static 'class/moment.js' %}"></script>
<script src="{% static 'class/material-datetime-picker.js' %}" charset="utf-8"></script>

<script type="text/javascript">

    // this function is called when a post in side bar is clicked or when url has a numeric postid
    function changeurl(post_id,push_url=true) {

        // ajax call to load required post along with its comments
        $.ajax({
            type: "GET",
            url: "/class/get_post",
            data:{
                    post_id: post_id,
                    class_code: "{{class_code}}"
                },
         success:function(data){
            var obj = JSON.parse(data);

            // displaying the block to show the question/post
            $("#new-question").css("display","none");
            $("#existing-question").css("display","block");

            // Loading the question and its comments into content block
            var post_id = obj.id;
            var title=obj.title;
            var content=obj.content;
            var views=obj.views;
            $("#question-title").html(title);
            $("#question-content").html(content);
            $("#question-views").html("views: "+views);
            $("#post-comment").attr("data-content-postid",post_id);
            $("#comments").html("");
            $('#tags').html("");

            $.each(obj.tags,function()
                { 
                    var tag_chip = "<h3  class=\" black-text chip\">"+ this +" </h3>"

                    $('#tags').append(tag_chip);

                });
            $.each(obj.comments, function () {
                var comment = "<div class=wrap style=background-color:#F5E5C0;padding:5px;padding-left:15px;margin:10px;>"+this.content+"</div>";
                $("#comments").append(comment);
             });

            //change the background color of the active post
            $('.post').removeClass('active-post');
            $(".collection").find("[data-postid='" + post_id + "']").addClass('active-post');

            //removing the unread-post class from the clicked post if present
            $(".collection").find("[data-postid='" + post_id + "']").removeClass('unread-post');


             // changing the url locally to the url corresponding to the post
            var urlPath=post_id;
            document.title = title;
            data_to_restore=document.body.innerHTML;
            if(push_url){
                 window.history.pushState({data_to_restore},"", urlPath);
             }else{
                window.history.replaceState({data_to_restore},"", urlPath);
             }

            // alert("Data: " + data + "\nStatus: " + status);
        },

        // if error, load the home page of the class
        error: function(xhr, statusText){
                // alert("The post you are looking for doesn't exist");
                // var urlPath="../{{class_code}}/";
                // document.title = "ForDis";
                // window.history.pushState({"html":"ForDis"},"", urlPath);
            }
            
        });
    }

// this function is called when newpost button is clicked
    function newpost_page(push_url=true){
        $("#existing-question").css("display","none");
        $("#new-question").css("display","block");

         $('.post').removeClass('active-post');

        var urlPath="newpost";
        document.title = "New Post";
        data_to_restore=document.body.innerHTML;
        if(push_url){
             window.history.pushState({data_to_restore},"", urlPath);
         }else{
            window.history.replaceState({data_to_restore},"", urlPath);
         }
        
    };

    // function called when the page is loaded and postid in url is non numeric
    function redirect_to_home(){
        
        alert("The post you are looking for doesn't exist!");
        var urlPath="";
        document.title = "ForDis";
        data_to_restore=document.body.innerHTML;
        window.history.replaceState({data_to_restore}, urlPath);
        // window.location.href="../OzXE8C";
    }


    // function to add locally changed urls to browser stack(for navigating pages in a tab)
    window.onpopstate = function(e){
        if(e.state){
            // console.log("Fired");
            console.log(e.state)
            document.body.innerHTML = e.state.data_to_restore;
            document.title = e.state.pageTitle;
        }
    };

    // loading the rich text editors on page load
    $(function() {
        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
          });
        $('.timepicker').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
            twelvehour: true, // Use AM/PM or 24-hour format
            donetext: 'OK', // text for done-button
            cleartext: 'Clear', // text for clear-button
            canceltext: 'Cancel', // Text for cancel-button
            autoclose: false, // automatic close timepicker
            ampmclickable: true, // make AM PM clickable
            aftershow: function(){} //Function for after opening timepicker
          });
        $('textarea#froala-editor-newquestion').froalaEditor();
        $('textarea#froala-editor-comment').froalaEditor()

    });


    $( document ).ready(function(){

         // parsing the url on pageload and displaying the appropriate post in content block
        var urlparse = window.location.pathname.split("/");
        // alert(urlparse[3]);
        tail=urlparse[3];
        if(tail=="newpost"){
            newpost_page(false);
        }else if($.isNumeric(tail)){
            changeurl(tail,false);
        }else if(tail!=""){
            redirect_to_home();
        }else{
             var urlPath="";
            document.title = "ForDis";
            data_to_restore=document.body.innerHTML;
            window.history.replaceState({data_to_restore}, urlPath);
        }

        // function to post a new post
        $("#post-question").click(function(){
            $("#post-question").prop('disabled',true);
            $.post("/class/new_post",
            {
                title: $('#post-title').val(),
                content: $('#froala-editor-newquestion').froalaEditor('html.get'),
                class_code: "{{class_code}}" , 
                tags_select : $('#tags_select').serialize()
            },
            function(data, status){
                if(status == "success"){
                    location.reload();
                    // alert(data+ "\nsuccess");
                }
                $("#post-question").prop('disabled',false);
            });   
        });

        // function to post a comment
        $("#post-comment").click(function(){
            $("#post-comment").prop('disabled',true);
            $.post("/class/new_comment",
            {
                post_id: $('#post-comment').attr('data-content-postid'),
                content: $('#froala-editor-comment').froalaEditor('html.get'),
                class_code: "{{class_code}}"
            },
            function(data, status){
                if(status == "success"){
                    location.reload();
                }
                $("#post-comment").prop('disabled',false);
            });
        });
});

</script>

<!-- script for date-time picker  -->
<!-- <script>

    var picker = new MaterialDatetimePicker({})
    .on('submit', function(d) {
        output.innerText = d;
    });

    var el = document.querySelector('.c-datepicker-btn');
    el.addEventListener('click', function() {
        document.getElementById("froala-editor").style.opacity="0.5";
        picker.open();
    }, false);

</script> -->

</body>
</html>
