{% load static %}
<html>
<head>
	<title>Home | ForDis</title>
	<link rel="stylesheet" href="{% static 'class/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'class/iconFamilyMaterialIcons.css' %}">
	<script type="text/javascript" src="{% static 'class/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'class/materialize.min.js' %}"></script>
	<script >
		$(document).ready(function() {
			$('#modal_join').modal();
			$('#modal_create').modal();
			$('#select_semester').material_select();
			$( "#datepicker" ).material_select();
		});
	</script>
</head>
<body>

	<nav class="light-blue lighten-1" role="navigation">
		<div class="nav-wrapper container"><a id="logo-container" href="" class="brand-logo">ForDis</a>
			<ul class="right hide-on-med-and-down">
				<li>{{first_name}} {{last_name}}</li>
				<li><a href="logout">Logout</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li>{{first_name}} {{last_name}}</li>
				<li><a href="login">Logout</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>

	<div class="chip" style="margin: 15px;">
		Instructor Role :
	</div>




	<!-- Modal Structure -->
	<div id="modal_join" action="index" class="modal">
		<div class="modal-content">

			<div class="row">
				<h4 class="center-align">Join a class</h4>
				<form class="col s12" method="post" action="join_form">
					<!-- {% csrf_token %} -->
					<div class="row">
						<div class="input-field col s6">
							<input id="class_code" name="codein" type="text" class="validate">
							<label >Classcode</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input id="pass_code" name="codeout" type="text" class="validate">
							<label >Passcode</label>
						</div>
					</div>
					<div class="center-align vertical-align">
						<button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action">Join
							<i class="material-icons right">send</i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- Modal Structure -->
	<div id="modal_create" action="index" class="modal">
		<div class="modal-content">

			<div class="row">
				<h4 class="center-align">Create a class</h4>
				<form class="col s12" method="post" action="create_form">
					<!-- {% csrf_token %} -->
					<div class="row">
						<div class="input-field col s6">
							<input id="class_name_create" name="classname" type="text" class="validate">
							<label >Course Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input id="class_code_create" name="classcode" type="text" class="validate">
							<label >Course Code</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<select id="select_semester" name="semester">
								<option value="" disabled selected>Choose your option</option>
								<option value="Autumn">Autumn</option>
								<option value="Spring">Spring</option>
								<option value="Summer">Summer</option>
							</select>
							<label>Semester</label>
						</div>
						<div class="input-field col s6">
							<select id="datepicker" name="year">
								<option value="" disabled selected>Choose Year</option>
								<option value="2017">2017</option>
								<option value="2015">2018</option>
								<option value="2016">2019</option>
								<option value="2018">2020</option>
								<option value="2019">2021</option>
							</select>
							<label>Year</label>
						</div>	   
					</div>
					<br>
				<!-- <div class="center-align vertical-align">
					<input type="submit" class="modal-action  green modal-close waves-effect waves-yellow btn-flat" value="Create" >
				</div> -->
					<div class="center-align vertical-align">
						<button class="modal-action modal-close btn waves-effect waves-light" type="submit" name="action">Create
							<i class="material-icons right">send</i>
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
 
<div class="row" id = 'instructor_class'>

	{% for akh in instructor_class %}

	<div class="col s12 m3">

		<div class="card blue-grey darken-1">
			<a href={{akh.class_id.class_code}}>
				<div class="card-content white-text">
					<span class="card-title">{{akh.class_id.course_code}}</span>
					<p>
						{{akh.class_id.course_name}}
					</p>
				</div>
			</a>

			<div class="card-action">
				<span class = "black-text" >{{akh.class_id.semester}} , {{akh.class_id.year}} </span>
				<a href="{{akh.class_id.class_code}}/settings" style="float: right;">Settings</a>
			</div>
		</div>
	</div>
	{% endfor %}

	<div class="col s12 m3">
		<div class="card-content">
			<a class="btn-floating waves-effect waves-light btn-large red btn modal-trigger" onclick="$('#modal_create').modal('open')"><i class="material-icons">add</i></a>
		</div>
	</div>
</div>


<div class="chip" style="margin: 15px;">
	Student Role :
</div>
<div class="row" id = 'student_class'>

	{% for akh in student_class %}

	<div class="col s12 m3">
		<div class="card blue-grey darken-1">
			<a href={{akh.class_id.class_code}}>
				<div class="card-content white-text">
					<span class="card-title">{{akh.class_id.course_code}}</span>
					<p>
						{{akh.class_id.course_name}}
					</p>
				</div>
			</a>
			<div class="card-action">
				<span class = "black-text" >{{akh.class_id.semester}} , {{akh.class_id.year}} </span>
				<a href="#"  style="float: right;">Activity</a>
			</div>
		</div>
	</div>

	{% endfor %}
	<div class="col s12 m3">
		<div class="card-content">
			<a  class="btn-floating waves-effect waves-light btn-large red btn modal-trigger" onclick="$('#modal_join').modal('open')"><i class="material-icons">add</i></a>
		</div>
	</div>

</div>


</body>
</html>
